.profile {
    padding: 20px 60px;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        h1 {
            font-weight: 700;
            font-size: 20px;
            line-height: 39px;
        }

        &--back {
            width: 32px;
            height: 32px;
            border-radius: 7px;
            border: 1px solid #d9d9d9;
            outline: none;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-right: 20px;

            svg {
                color: #d9d9d9;
            }
        }
    }

    &__profileItems {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 20px;
    }

    &__notPurchase {
        width: 100%;
        text-align: center;

        h1 {
            margin-top: 24px;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }

        p {
            margin-top: 10px;
            margin-bottom: 40px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            opacity: 0.4;
        }
    }
}